<%include ../partials/header %>


<div class="container">
 <header class="jumbotron"><!--header is asme as div-->
     <div class="container">
     <h1>This is Campground Page</h1>
     <p>So here are some of our hand-picked campground sight Have a look... </p>
     <p><a class="btn btn-primary btn-large" href="/campgrounds/new">Want to Add a New Campground?</a></p>
     </div>
  </header>
<div class="row text-center" style="display:flex; flex-wrap: wrap;" ><!--this will help if our images are of different sizes......then our grid wont be affected-->
     <% campgrounds.forEach(function(campground){%>
      <div class="col-md-3 col-sm-6"><!--maximum size 12 and smallest size by defaul 12-->
          <div class="thumbnail">
              <img src="<%=campground.image%>">
              <div class="caption">
                 <h4><%=campground.name%></h4>
                 <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">Know More!</a>
               
              </div>
          </div>
          
      </div>

 
 <% });%>
</div>
 </div>
<%include ../partials/footer %>