<!--instead of using node app.js we can use nodemon app.js becoz if we make some changes in our files then we have to restart the server but if we are using nodemon then it automatically save the changes, command->( npm install -g nodemon) -->
<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script><!--this will add on some classes in our browser if our browser is having the old version ....basically it will make our old browser compatible with some new features-->
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div id="landing-header">
    <div class="row">
 		<h1>Welcome to YelpCamp</h1>
 	</div>
		<a href="/campgrounds" class="btn btn-lg btn-success" style="color: #ac3939s">View All Campgrounds</a>
    </div>
    
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include ../partials/footer %>