body{
    background-color: black;
    font-family: 'Acme', sans-serif;
    letter-spacing: 2px;
}

#landing-header{
    text-align: center;
    color: #fff;
    z-index: 1;
    position: relative;
    margin-top: 50vh;/*50 viewport height 50% of total height*/
}
h1{
  font-weight: 700;
 font-size: 4em;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;/*to make top left coordinate zero*/
  left: 0;
  z-index: 0;/*to make the background behind the text*/
  list-style: none;/*to remove the bullet points*/
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; /*linear -> speed constant, animation lasts fo 50 sec ,infinite-> infinite loop of animation,imageanimation-> Animation that we have to create*/
}/*5 image animation in 50sec*/

.slideshow li:nth-child(1) { 
  background-image: url(http://i.imgur.com/K3mPv14.jpg) 
}
.slideshow li:nth-child(2) { 
  background-image: url(http://i.imgur.com/SBEmFpv.jpg);/*delay of 10sec the first image takes 5 sec i.e. (in total 15 sec) more to overlap*/
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(http://i.imgur.com/emvhOnb.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(http://i.imgur.com/2LSMCmJ.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(http://i.imgur.com/TVGe0Ef.jpg);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { /*10sec divided into 3 parts*/
    opacity: 0; /*fade in*/
    animation-timing-function: ease-in;/*Smooth transition in between opacity from 0 to 1*/
  }
  10% {
    opacity: 1;/*solidify*/
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0/*fade out*/
  }/*vse toh from 0 to 100% but we are using from 0 to 30%*/
}

/* Older browser support - class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}

.row
{
 text-shadow: 0px 3px 5px rgba(0,0,0,0.7),
              0px 5px 7px rgba(0,0,0,0.5),
              0px 7px 9px rgba(0,0,0,0.3);
}
