body{
    background-image: url("http://i.imgur.com/emvhOnb.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'PT Sans Caption', sans-serif;
}
h1{
    color: white;
    letter-spacing: 3px;
}

#container {
    position: fixed;
    width: 400px;
    height: 250px;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -170px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    
}